[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"

[dev-packages]
pre-commit = "*"
pytest = ">=7.2.0"
setuptools = "*"
wheel = "*"
requsim = {editable = true, path = "."}
sphinx = "*"
autodocsumm = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
setuptools-scm = "*"
certifi = ">=2022.12.7"  # responding to dependabot alert, affects only docs

[requires]
python_version = "3.8"
