[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
certifi = ">=2023.7.22"
pygments = ">=2.15.0"
requests = ">=2.31.0"

[dev-packages]
pre-commit = "*"
pytest = ">=7.2.0"
setuptools = "*"
wheel = "*"
requsim = {editable = true, path = "."}
sphinx = "*"
autodocsumm = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
setuptools-scm = "*"
certifi = ">=2023.7.22"  # responding to dependabot alert, affects only docs
Pygments = ">=2.15.0"   # responding to dependabot alert, affects only docs
requests = ">=2.31.0"   # responding to dependabot alert, affects only docs

[requires]
python_version = "3.8"
